/* common */
@font-face {
    font-family: jalan;
    src:url("../font/Jalnan.ttf");
}
@font-face{
  font-family:tmoney;
  src:url("../font/TmoneyRoundWindRegular.ttf");
}
body{font-size:13px;font-family:'Noto Sans KR', sans-serif;line-height:1.2;}


/* layout */
.wrap{}
header{width:100%;}
.inner_top{background:#fff7ee;border-bottom:1px solid #745e43;}
.inner_topMenu{width:1048px;margin:0 auto;}
.inner_bottom{width:100%;position:relative;height:59px;border-bottom:1px solid #745e43;}
.banner{width:100%;}
.contents{width:100%;}
footer{width:100%;padding:65px 0;}
.inner_footer{width:1200px;margin:0 auto;}

/* header */
.sns{float:left;;margin-top:40px;}
.sns > li{float:left;margin-right:6px;}
.sns > li:last-of-type{margin-right:0;}
.menu{float:right;margin-top:50px;}
.menu > li{float:left;margin-right:35px;font-size:12px;}
.menu > li a{color:#a49076;}
.menu > li a:hover{color:#f9962c;}
.menu > li:last-of-type{margin-right:0;font-family:'jalan';}
.logo{text-align:center;height:120px;}
.logo  img{margin-top:36px;}


.gnb{width:1048px;margin:0 auto;}
.gnb:before{content:"";position:absolute;left:0;top:60px;width:100%;height:0;background:#fff;opacity:0;transition:all 0.4s ease 0s;z-index:5;}
.gnb:hover:before{position:absolute;left:0;top:60px;width:100%;height:300px;opacity: 1;}
.gnb > li{float:left;padding:21px 54px;}
.gnb> li > a{font-family:'jalan';color:#745e43;}
.gnb > li:first-of-type{padding-left:10px;}
.gnb > li:last-of-type{padding:10px 0px;}
.gnb > li:hover > .inner_gnb{z-index:10;opacity:1;}
.gnb:after{content:"";display:block;clear:both;}
.inner_gnb{width:100%;position:absolute;left:0;top:60px;background:#fff;height:0;opacity:0;transition:all 0.4s ease 0s;}
.inner_subgnb{width:1048px;margin:0 auto;height:calc(250px - 35px);padding:30px 0;}

.inner_search{width:1048px;margin:0 auto;height:calc(250px - 35px);padding:30px 0;}
.inner_search >form > h2{font-size:25px;color:#000;font-weight:bold;margin-bottom:30px;}
.inner_search >form > h2 > img{margin-right:15px;position:relative;left:0;top:8px;}
.inner_search > form{margin:0 50px;}
.search_left{float:left;width:50%;margin-left:15px;}
.search_right{float:left;width:calc(50% - 15px);}
.productName{margin-bottom:15px;}
.productName > label{font-size: 16px;font-weight:600;color:#745e43;margin-right:8px;}
.productName > input{width:300px;height:16px;padding:3px;}
.category{margin-bottom:15px;}
.category > label{font-size: 16px;font-weight:600;color:#745e43;margin-right:8px;}
.category > select{width:80px;height:30px;padding:3px;}
.checkbox{margin-bottom:20px;}
.checkbox >  p{font-size: 16px;font-weight:600;color:#745e43;margin-bottom:10px;}
.checkbox > label{margin-left:10px;}
.checkbox > label > input{margin-right:5px;margin-bottom:15px;}
button{width:80px;height:30px;font-size:12px;background:#745e43;color:#fff;border-radius:25px;position:relative;left:50%;transform:translateX(-50%);clear:both;}



/* .inner_subgnb:after{content:"";display:block;clear:both;} */
.left_subgnb{float:left;}
.left_subgnb > ul > li{float:left;font-size:13px;font-weight:600;margin:30px 30px 0 20px;}
.left_subgnb > ul > li > a{color:#735631;}
.left_subgnb > ul > li:last-of-type{margin-right:0;}
.left_subgnb > ul > li > ul{margin-top:20px;font-weight:300;}
.left_subgnb > ul > li > ul > li{margin-bottom:8px;}
.left_subgnb > ul > li > ul > li > a {color:#333;transition:all 0.5s ease 0s;}
.left_subgnb > ul > li > ul > li > a:hover{color:#fd9a31;font-weight:500;}
.right_subgnb{float:right;margin-top:10px;font-size:0;}
.right_subgnb >  a {display:inline-block;width:330px;}

/* banner */
.banner{width:100%;overflow: hidden;position:relative;font-size:0;}
.banner > ul.slider{width:500%;position:relative;left:0;transition:all 1s ease 0s;}
.banner > ul.slider:after{content:"";display:block;clear:both;}
.banner > ul.slider > li{width:20%;float:left;}
.controler{position:absolute;left:50%;top:50%;width:1200px;transform:translate(-50%,-50%);}
.controler a {
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.controler a:after{content:"";position:absolute;bottom:-5px;width:50px;height:3px;background:#fff;transition:all 0.4s ease 0s;}
.controler a:hover:after{width:80px;}
.controler .btn_prev{float:left;}
.controler .btn_prev:after{right:0;}
.controler .btn_next{float:right;}
.controler .btn_next:after{left:0;}
.bullet{position:absolute;left:50%;bottom:40px;transform:translateX(-50%);}
.bullet li{float:left;background:#fff;width:8px;height:8px;border-radius:50%;margin-right:5px;text-indent:-99999px; overflow:hidden;cursor:pointer;}
.bullet li:last-of-type{margin-right:0;}
.bullet li.on{background:gray;transform:scale(1.5);}

/* contents */
section > h3{font-family:'jalan';font-size:30px;text-align:center;margin-bottom:14px;}
section > h6{font-size:14px;text-align:center;color:#f9962c;margin-bottom:40px;}
.con1{background:#fff7ee;height:480px;margin-bottom:210px;}
.inner_yeardonut{width:1500px;margin:0 auto;padding-top:100px;}
.left_year{float:left;margin-right: 75px;margin-left: 20px;}
.right_year{float:left;}
.right_year > h3{font-family:'jalan';font-size:30px;text-align:center;margin-bottom:14px;}
.right_year > h6{font-size:14px;text-align:center;color:#f9962c;margin-bottom:40px;}
.right_year > ul li{float:left;width:220px;position:relative;}
.right_year > ul li > p{text-align:center;color:#513324;font-size:15px;font-weight:bold;}
.inner_yeardonut:after{content:"";display:block;clear:both;}
.new_title{display:inline-block;border-radius:50%;padding:5px;position:absolute;left:25px;top:15px;background:#e65b7e;font-size:16px;color:#fff;}

.con2{width:1200px;margin:0 auto;margin-bottom:120px;}
.con2:after{content:"";display:block;clear:both;}
.more{text-align:right;margin-bottom:12px; margin-right:10px;}
.more >a{display:inline-block;padding:3px 10px;background:#f9962c;color:#fff;border:1px solid #f9962c; border-radius:25px;}
.event_list{float:left;width:286px;height:425px;border:1.1px solid #f9962c;margin-right:15px;overflow:hidden;position:relative;}
.event_list:last-of-type{margin-right:0;}
/* .event_list:after{content:"";display:block;clear:both;} */
.event_list > ul.event_slider{width:300%;position:relative;left:0;transition:all 0.8s ease 0s;}
.event_list > ul.event_slider > li {float:left;width:33.333%;text-align:center;height:427px;position:relative;}
.event_list > ul.event_slider > li > a img{width:100%;}
.event_list > ul.event_slider > li >h4{margin-top:18px;margin-bottom:8px; }
.event_list > ul.event_slider > li > h4 a{font-size:24px;font-weight:bold;}
.event_list > ul.event_slider > li > h4:hover a{text-decoration:underline;}
.event_list > ul.event_slider > li > h6{font-size:13px;}
.event_list > ul.event_slider > li > .online_store{width:100%;height:54px;background:#f9962c;line-height:54px;text-align:center;color:#fff;position:absolute;left:0;bottom:0;}
.event_btn {
    position: relative;
    left: 50%;
    top: 20px;
    width: 60px;
    clear: both;
    margin-left: -30px;
}
.event_btn li{float:left;width:10px;height:10px;display:inline-block;border-radius:50%;text-indent:-9999px;overflow:hidden;margin-right:10px;cursor:pointer;background:#c1ae96;transition:all 0.4s ease 0s;}
.event_btn li:last-of-type{margin-right:0;}
.event_btn li.on{background:#f9962c;transform:scale(1.5);}

/* banner 2 */
.con3{width:100%;height:402px;background:url("../img/img_banner_1_1.jpg") no-repeat 50% 0%;background-attachment: fixed;background-size:cover;margin-bottom:120px;}
.inner_con3{width:600px;margin:0 auto;padding-top:87px;}
.inner_con3 > h2{font-size:55px;font-family:'jalan';transform:translateX(-50px);opacity:0;transition:all 0.8s linear 0s;}
.inner_con3 > h2:last-of-type{text-indent:118px;margin-bottom:20px;}
.inner_con3 > p{text-align:left;line-height:1.5;margin-left:50px;font-size:12px;font-weight:300;transform:translateX(50px);opacity:0;transition:all 0.8s linear 0s;}
.inner_con3 > p:first-of-type{font-size:22px;margin-bottom:5px;font-family:"tmoney";}
.inner_con3 > p > span{color:#684b17;font-family:"jalan";}

.con4{width:100%;margin:0 auto;text-align:center;}
.con4 > p{font-size:12px;margin-bottom:100px;color:#777;}
.con4 > p:first-of-type{font-size:15px;margin-bottom:14px;color:#000;}
.inner_con4{width:100%;background:#fff7ee;margin-bottom:120px;}
.inner_con4 > ul{width:1200px;height:490px;margin:0 auto;}
.inner_con4 > ul li{float:left;margin-top:73px;margin-right:20px;}
.inner_con4 > ul li figure{transition:all .3s ease 0s;border-radius: 50%;}
.inner_con4 > ul li:hover figure{
  box-shadow: -7px 8px 1px orange;
  transform:translate(3px,-3px);
}

.inner_con4 > ul li:last-of-type{margin-right: 0;}
.inner_con4 > ul li >p{color:#513324;font-size:15px;font-weight:bold;margin-top:18px;margin-bottom:24px;}
.inner_con4 > ul li > a {display:inline-block;background:#f9962c;color:#fff;padding:5px 10px;border-radius:25px;}
.inner_con4:after{content:"";display:block;clear:both;}

.con5{width:1200px;margin:0 auto;text-align:center;padding-bottom:50px;}
.con5 > h6{margin-bottom:30px;}
.big_sns{padding-left:calc(50% - 167px);margin:55px 0;}
.big_sns > li{float:left;margin-right:10px;}
.big_sns > li:last-of-type{margin-right:0;}
.big_sns:after{content:"";display:block;clear:both;}


@keyframes slideinsta {
  0%{left:0px;}
  100%{left:-500px;}
}
.slide_bg{width:100%;height:230px;overflow:hidden;}
.slide_insta{position:relative;left:-90px;width:calc(260px*10);animation:slideinsta 10s ease 0s infinite alternate;}
.slide_insta.off{animation:none;}
.slide_insta > li{float:left;width:260px;height:230px;}
.slide_insta:after{content:"";display:block;clear:both;}



/* footer */
.left_foot{float:left;font-size:11px;margin-right:100px;position:relative;}
.left_foot > address{margin-top:20px;margin-bottom:17px;}
.left_foot > p{margin-bottom:17px;}
.left_foot > p:nth-of-type(4){position:absolute;top:91px;right:0;}
.left_foot > p:nth-of-type(2){position:absolute;top:119px;right:0;}
.left_foot > p:last-of-type{margin-bottom:38px;}
.left_foot > aside{position:relative;}
.left_foot > aside > img{margin-right:6px;}
.left_foot > aside > .mark{display:inline-block;position:absolute;top:50%;margin-top:-15px;}
.left_foot > form{margin-top:10px;}
.right_foot{float:right;}
.right_foot:after{content:"";display:block;clear:both;}
.inner_footer:after{content:"";display:block;clear:both;}
.foot_menu{border-top:1.5px solid #dddddd;border-bottom:1px solid #dddddd;padding:20px 0 36px;}
.foot_subMenu > li {float:left;margin-right:90px;}
.foot_subMenu > li > a{font-size:12px;font-family:'jalan';}
.foot_subMenu > li > ul li{margin-bottom:10px;}
.foot_subMenu > li > ul li:first-of-type{margin-top:27px;}
.foot_subMenu > li > ul li:last-of-type{margin-bottom:0;}
.foot_subMenu > li > ul li > a{font-size:10px;}
.sub_menu{text-align:right;}
.sub_menu > li > a{font-size:12px;font-weight:500;}
.sub_menu > li{margin-bottom:25px;}
.sub_menu > li:last-of-type{margin-bottom:0;}
.foot_menu:after{content:"";display:block;clear:both;}
.policy{font-size:12px;font-weight:bold;margin-top:20px;}
.policy > li{float:left;margin-right:23px;}
.policy > li:last-of-type{margin-right:0;}
.policy > li > a > span{color:red;}
